@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

:root {
    --bg-color: #1e1e2e;
    --main-color: #abe9b3;
    --sub-color: #575268;
    --sub-alt-color: #292739;
    --text-color: #d9e0ee;
    --error-color: #f28fad;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: 'Roboto Mono', monospace;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    height: calc(100dvh - 100px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.text {
    font-weight: 400;
    font-size: 24px;
    color: var(--sub-color)
}

.small_text {
    font-size: 16px;
    color: var(--sub-color);
}

.text_container {
    position: relative;
}

.nav_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    text-decoration: none;
    font-size: 32px;
    font-weight: 500;
    color: white;
    margin: 0;
    display: flex;
    gap: 10px;
}

.logo_icon {
    color: var(--main-color);
}

.icons {
    display: flex;
    gap: 14px;
}

.icons > a {
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
}

.correct {
    font-weight: 400;
    font-size: 24px;
    color: var(--text-color);
}

.incorrect {
    font-weight: 400;
    font-size: 24px;
    color: var(--error-color)
}

.label {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.input_text {
    position: absolute;
    background: transparent;
    border: none;
    outline: none;
    color: transparent;
}

.time {
    position: absolute;
    top: -60px;
    color: var(--text-color);
    white-space: nowrap;
}

.results {
    display: flex;
    gap: 3px;
    flex-direction: column;
}

.eval {
    color: var(--main-color);
    font-size: 40px;
    display: flex;
    align-items: end;
    gap: 5px;
}

.hidden {
    display: none;
}

.reset {
    text-decoration: none;
    display: block;
    margin-top: 20px;
    color: var(--sub-color);
    text-align: center;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
}

.settings {
    position: absolute;
    top: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 8px;
    margin: 0 20px;
    background: var(--sub-alt-color);
    border-radius: 10px;
    font-size: 24px;
    color: var(--main-color);
}

.btn {
    background: var(--sub-color);
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.selected {
    background: var(--main-color);
    color: var(--sub-alt-color);
}

.divider {
    height: 20px;
    width: 2px;
    background: var(--sub-color);
}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.form_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.signup::before {
    content: "register";
    color: var(--text-color);
}
.signin::before {
    content: "login";
    color: var(--text-color);
}

.form > input {
    outline: none;
    border: none;
    background: var(--sub-alt-color);
    padding: 10px;
    font-size: 16px;
    color: var(--text-color);
    border-radius: 8px;
}

.form > button, .form > div {
    cursor: pointer;
    font-size: 16px;
    background: var(--sub-alt-color);
    color: var(--text-color);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

@media screen and (max-width: 640px) {
    .logo {
        font-size: 24px;
    }
    .settings {
        font-size: 16px;
        padding: 5px;
        top: 80px;
    }
    .btn {
        font-size: 10px;
        padding: 3px 8px;
    }
    .text, .correct, .incorrect {
        font-size: 20px;
    }
    .form_wrapper {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
}